<h1>Seja bem vindo! </h1>
<p>Data: <%= Date.today.strftime('%d/%m/%Y') %></p>
<ul>
  <li>
    <%= link_to "Cadastro de Moedas", coins_path %>
  </li>
</ul>
<p>Meu nome é <%= @nome %> e estou fazendo o curso de <%= @curso %></p>
